<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Lunch Delivery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/Content/css/animate.css">
    <link rel="stylesheet" href="/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/Content/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/Content/fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/Content/css/style.css">

</head>
<body>

    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand " href="index.html">Online Lunch Delivery</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav pl-md-5 ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-page="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Customers/Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/LunchPacks/Index">Lunch Packs</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-page="/DeliveryAgents/Index">Delivery Agents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/OnlineDeliveries/Index">Online Deliveries</a>
                        </li>
                    </ul>

                    <div class="navbar-nav ml-auto">
                        <form method="post" class="search-form">
                            <span class="icon ion ion-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <div class="top-shadow"></div>
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('/Content/images/Lunch.webp');">
            <div class="container" style="height:30vh">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-lg-7 text-center col-sm-12 element-animate">
                       
                        <h1 class="mb-4"><span>Lunch Delivery Service</span></h1>
                        <p class="mb-5 w-75">Get your lunch delivered!</p>
                    </div>
                </div>
            </div>
        </div>

        

    </section>

    <div class="container">

        @RenderBody()


    </div>


    <footer class="site-footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-12 text-md-center text-left">
                    <p class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="/Content/js/jquery-3.2.1.min.js"></script>
    <script src="/Content/js/popper.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/owl.carousel.min.js"></script>
    <script src="/Content/js/jquery.waypoints.min.js"></script>
    <script src="/Content/js/jquery.fancybox.min.js"></script>
    <script src="/Content/js/main.js"></script>

    <script src="/Content/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>